# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Test
coverage
test

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Misc
README.md
*.md
